body {
    background: #EEEEEE;
}

h1 {
    font-size: 30px;
    font-weight: bold;
    margin: 1em;
    margin-left: 5%;
    
}

table {
	margin: 20px 0 20px;
	margin-left: 5%;
	
	
}

thead {
	background: #555555;
	color: white;
	font-weight: bold;
}

td, th {
	padding: 8px 30px;
	border: 1px solid #000000;
}

.passou {
	background: rgb(26, 170, 13);
}

.recu {
	background: rgb(233, 233, 60);
}

.reprovou {
	background: lightcoral
}